body {
    background-size: cover;
    color: white
    
}

.force-to-bottom {
    position:absolute;
    bottom: 5%;
    width: 50%;
}

.clock{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #fff;
			font-size: 80px;
			border: 1px solid #ccc;
			padding: 0px 5px 0px 5px;
		}
h3:hover {
	 visibility: hidden;

}

.form-group{
	color: black;
	width: 250px;
}

.btn{
	width: 250px;
}